<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.cbt.dao.CbtDao">

	<select id="getMaxNum" resultType="long">
		SELECT MAX(cb_seq) FROM
		tbl_cbt
	</select>

	<select id="selectAll" resultType="CbtDTO">
		SELECT * FROM tbl_cbt

	</select>
	<select id="findById" resultType="CbtDTO">
		SELECT *
		FROM tbl_cbt
		WHERE
		CB_SEQ = #{cb_seq}

	</select>
	<insert id="insert" parameterType="CbtDTO">
		INSERT INTO tbl_cbt(
		CB_SEQ,
		CB_PLO,
		CB_EX1,
		CB_EX2,
		CB_EX3,
		CB_EX4,
		CB_ANSWER,
		CB_OPlO,
		CB_XPlO,
		CB_OCOUNT,
		CB_XCOUNT
		)VALUES (
		SEQ_CBT.NEXTVAL,
		#{cb_plo,jdbcType=VARCHAR},
		#{cb_ex1,jdbcType=VARCHAR},
		#{cb_ex2,jdbcType=VARCHAR},
		#{cb_ex3,jdbcType=VARCHAR},
		#{cb_ex4,jdbcType=VARCHAR},
		#{cb_answer,jdbcType=VARCHAR},
		#{cb_Oplo,jdbcType=VARCHAR},
		#{cb_Xplo,jdbcType=VARCHAR},
		#{cb_Ocount,jdbcType=INTEGER},
		#{cb_Xcount,jdbcType=INTEGER}
		)
	</insert>

	<update id="update" parameterType="CbtDTO">
		UPDATE tbl_cbt SET
		CB_PLO = #{cb_plo},
		CB_EX1 = #{cb_ex1},
		CB_EX2 = #{cb_ex2},
		CB_EX3 = #{cb_ex3},
		CB_EX4 = #{cb_ex4},
		CB_ANSWER= #{cb_answer}
		WHERE CB_SEQ = #{cb_seq}


	</update>


</mapper>









